body:not(.nohover) tbody tr:hover {
  background-color: #c0f18f;
  box-shadow: -12px 7px 49px 0px rgba(0, 0, 0, 0.75);
}
.tableClass:hover tbody tr:not(:hover) {
  opacity: 0.5;
}
.tableText {
  font-size: small !important;
  color: rgb(8, 8, 8) !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
